!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*

# Ignore local database configurations
/config/database.yml

# Ignore application configuration
/config/application.yml

# Ignore emacs temp files
\#*
.#*
