@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/base";
@import "refills/flashes";

@import "bootstrap-sprockets";
@import "bootstrap";


.center {text-align: center;}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.show-print {
  display: none;
}

table.conjoint-table {
    border-collapse: collapse;
    width: 100%;
    td {
      width: 50%;
    }
}

table .actions {
  width: 20%;
}

table.conjoint-table th, table.conjoint-table td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
table.conjoint-table th {
  font-size: 24px;
  font-weight: bold;
  color: #ff2525;
  border: none;
}
.page-break { page-break-after: always; }
td img {max-height: 100px;}
.bottom-pic { width: 100%; margin: 10px 0; text-align:center; }
.bottom-pic img {max-width: 600px;}
p.text {
  font-size: 24px;
}

.new_conjoint_experiment, .edit_conjoint_experiment {
  .attributes-section {
    ul {
      li {
        margin: 15px 0;
      }
    }
  }
  .form-group {
    display: inline-block;
  }
  .form-actions {
    margin: 15px 0;
  }
}

.conjoint_experiments-show {
  .actions {
    margin: 15px 0;
  }
}
